#poolSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1000px;
    gap: 15px;
}

#titleSection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
#titleSection p:first-child{
    font-size: 20px;
    font-weight: 700;
    color: var(--text);
}

#card{
    display: flex;
    flex-direction: column;
    width: 550px;
    padding: 20px;
    gap: 30px;
    border: 1px solid var(--border);
    border-radius: 15px;
    background: var(--bg3);
    box-sizing: border-box;
    transition: all 0.3s;
}

#card > div:first-child{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 17px;
}
#card > div:first-child svg{
    color: rgb(59, 130, 246);
    height: 1.5em;
    width: auto;
}
#card > div:first-child p{
    color: var(--text);
    font-weight: 500;
}


#controlSection{
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
}
#jetContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 337px;
    padding: 10px 10px;
    border: 1px solid var(--border);
    border-radius: 10px;
    gap: 15px;
    background: hsl(204, 56%, 20%, 0.2);
    box-sizing: border-box;
}
#jetHead{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#jetHead div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    color: var(--text);
}
#jetHead div svg{
    height: 2.5em;
    width: auto;
    padding: 10px;
    border-radius: 50%;
    box-sizing: border-box;
    transition: all .3s;
}
.jetOn{
    background: rgb(59, 130, 246);
    box-shadow: 0 0 15px 5px rgb(59, 130, 246, 0.5);
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
.jetOff{
    background: hsl(204, 56%, 20%, 0.4);
}
#jetHead div p{
    font-weight: 450;
}

#jetPowerContainer{
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: 1px solid var(--border);
    border-radius: 12px;
    gap: 10px;
    background: hsl(204, 56%, 20%, 0.4);
    box-sizing: border-box;
}
#jetPowerHead{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#jetPowerHead p{
    color: var(--text);
    font-size: 14px;
    font-weight: 500;
}
#jetPowerHead div{
    display: flex;
    justify-content: center;
    width: 64px;
    padding: 5px 0;
    border-radius: 13px;
    color: var(--text);
    font-size: 14px;
    font-weight: 500;
    background: #00b8db4d;
    box-sizing: border-box;
}

#jetPowerContainer input{
    accent-color: rgb(59, 130, 246);
}

#jetPowerLevels{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#jetPowerLevels p{
    color: var(--text);
    font-size: 13px;
    font-weight: 400;
}

#lightContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 61.6px;
    padding: 10px 15px;
    border: 1px solid var(--border);
    border-radius: 10px;
    gap: 10px;
    background: hsl(204, 56%, 20%, 0.2);
    box-sizing: border-box;
}
#lightContainer svg{
    height: 23px;
    width: auto;
    padding: 5px;
    border-radius: 7px;
    transition: all .3s;
}
.lightOff{
    color: var(--oqText);
    background: hsl(204, 56%, 20%, 0.4);
}
.lightOn{
    background: #f0b10033;
    color: hsl(44 100% 47%);
}


@keyframes pulse{
  50%{
    opacity: 0.5;
  }
}


/*MEDIA QUERIES*/
@media(max-width: 768px){
    #poolSection{
        width: 100%;
        gap: 10px;
    }

    #titleSection p:first-child{
        font-size: 18px;
    }

    #card{
        width: 100%;
        padding: 15px;
        gap: 20px;
    }
    #card > div:first-child{
        font-size: 15px;
    }

    #tempContainer{
        gap: 5px;
        padding: 10px 0px;
    }
    #tempContainer div:first-child{
        font-size: 25px;
    }
    #tempContainer > p{
        font-size: 13px;
    }
    #tempContainer div:last-child{
        width: 64px;
        font-size: 11px;
    }

    #controlSection{
        align-items: start;
    }
    #jetContainer{
        width: 253px;
        gap: 10px;
    }
    #jetHead div{
        font-size: 14px;
    }
    #jetHead div svg{
        padding: 8px;
    }

    #jetPowerContainer{
        padding: 10px;
        border-radius: 10px;
    }
    #jetPowerHead p{
        font-size: 12px;
    }
    #jetPowerHead div{
        width: 55px;
        padding: 3px 0;
        border-radius: 13px;
        font-size: 12px;
    }
    #jetPowerLevels p{
        font-size: 11px;
    }

    #lightContainer{
        flex-direction: column;
        height: 81.2px;
        padding: 10px 5px;
        gap: 5px;
    }
}